# Python environments and cache
__pycache__/
*.pyc
.env
venv/
env/
setconnectenv/

# Massive Datasets (Do NOT push to GitHub)
data/
raw/
lex_glue_data/
*.jsonl
*.csv

# Vector Databases and Models (Do NOT push to GitHub)
chroma_db/
faiss_index/
*.safetensors
*.bin
*.pt

# IDE and Notebooks
.ipynb_checkpoints/
.vscode/

# Exploratory / Benchmarks
bench.txt
eda_results.json

# Generated Knowledge Graphs & Local DBs
chroma_db_fixed/
chroma_db_poc/
*.html
legal_kg.json
